<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application>
        <receiver android:name=".controllers.notifications.chat.MessageReplyReceiver" />
        <receiver android:name=".controllers.notifications.chat.MessageReadReceiver" />
    </application>
</manifest>
