@(username: &str, link: &str, email: &str)

<p>Здравствуйте, @username!</p>

<p>
  Мы получили запрос на изменение адреса электронной почты
  для вашего аккаунта Bonfire. Ваш новый адрес: @email.
</p>

<p>
  Если это были вы, то никаких действий предпринимать не
  требуется. Если это были не вы, то вам следует пройти по
  следующей ссылке, чтобы отменить изменение:
</p>

<p><a href="@link">@link</a></p>

<p>
  Ссылка действительна три дня. Пожалуйста, держите свой
  аккаунт в безопасности.
</p>

<p>
  Если у вас остались какие-то вопросы, свяжитесь с нами
  по адресу <a href="mailto:me@@bonfire.moe">me@@bonfire.moe</a>.
</p>

<p>
  С уважением,<br>
  команда Bonfire
</p>
