@use std::net::IpAddr;
@(username: &str, link: &str, ip: &IpAddr, user_agent: &str)
# Сброс вашего пароля Bonfire
Здравствуйте, @username!

Мы получили запрос на сброс пароля от вашего аккаунта Bonfire.

IP-адрес: @ip
Браузер: @user_agent

Если это были вы, просто пройдите по ссылке ниже, чтобы сбросить пароль:

@link

Если вы не хотели это сделать, можете просто проигнорировать это письмо.

Если у вас остались какие-то вопросы, свяжитесь с нами по адресу me@@bonfire.moe.

С уважением,
команда Bonfire
