@use std::net::IpAddr;
@(username: &str, link: &str, ip: &IpAddr, user_agent: &str)

<p>Здравствуйте, @username!</p>

<p>Мы получили запрос на сброс пароля от вашего аккаунта Bonfire.</p>

<p>
  IP-адрес: @ip<br>
  Браузер: @user_agent
</p>

<p>Если это были вы, просто пройдите по ссылке ниже, чтобы сбросить пароль:</p>

<p><a href="@link">@link</a></p>

<p>Если вы не хотели это сделать, можете просто проигнорировать это письмо.</p>

<p>
  Если у вас остались какие-то вопросы, свяжитесь с нами
  по адресу <a href="mailto:me@@bonfire.moe">me@@bonfire.moe</a>.
</p>

<p>
  С уважением,<br>
  команда Bonfire
</p>
